/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
End reset
*/

.navbar {
  height: 48px;
  width: 100%;
}

.error-div {
  height: 22px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(255, 221, 51);
}

.main-content {
  padding-top: 32px;
  height: 845px;
  width: 100%;
}

.pop-articles {
  height: 208px;
  width: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: rgb(247, 248, 248);
}

.top-band {
  height: 181px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 312.5px;
  margin-right: 312.5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 51px;
  width: 231px;
}

.logo svg {
  visibility: visible!important;
  font-size: 100%;
  font: inherit;
  color: rgba(0,204,204,var(--text-opacity));
  --text-opacity: 1;
  box-sizing: border-box;
  outline: none;
  border: 0 solid;
  -webkit-font-smoothing: antialiased;
  display: block;
  height: auto;
  max-width: 100%;
}

.motto {
  height: 48px;
  width: 289px;
  visibility: visible!important;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  letter-spacing: -.025em;
  --text-opacity: 1;
  margin-bottom: 1rem;
  color: rgba(80,86,102,var(--text-opacity));
  text-align: center;
  --text-opacity: 1;
  color: rgba(80,86,102,var(--text-opacity));
  visibility: visible!important;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  margin-bottom: 2rem;
  font-size: 32px;
  display: block;
  width: 25%;
  margin-top: 3%;
}

.link-grid {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(5,115px);
  padding-left: 32px;
  padding-right: 32px;
  margin-left: 152.5px;
  margin-right: 152.5px;
}

.link-one {
  grid-column: 1/5;
  grid-row: 1/span 3;
  background-image: url(https://img-cdn.tnwcdn.com/image?fit=600%2C300&amp;url=https%3A%2F%2Fs3.amazonaws.com%2Fevents.tnw%2Fhardfork-2018%2Fuploads%2Fvisuals%2Fgoogle_2021-10-11-132455_twwv.jpeg&amp;signature=09b09cdc05df2515fd17194b87190d51)
}

.link-two {
  grid-column: 5/7;
  grid-row: 1/span 2;
  background-image: url(https://img-cdn.tnwcdn.com/image?fit=600%2C300&amp;url=https%3A%2F%2Fs3.amazonaws.com%2Fevents.tnw%2Fhardfork-2018%2Fuploads%2Fvisuals%2Fgoogle_2021-10-11-132455_twwv.jpeg&amp;signature=09b09cdc05df2515fd17194b87190d51)
}

.link-three {
  grid-column: 1/5;
  grid-row: 4/span 2;
  background-image: url(https://img-cdn.tnwcdn.com/image?fit=600%2C300&amp;url=https%3A%2F%2Fs3.amazonaws.com%2Fevents.tnw%2Fhardfork-2018%2Fuploads%2Fvisuals%2Fgoogle_2021-10-11-132455_twwv.jpeg&amp;signature=09b09cdc05df2515fd17194b87190d51)
}

.link-four {
  grid-column: 7/9;
  grid-row: 1/span 2;
  background-image: url(https://img-cdn.tnwcdn.com/image?fit=600%2C300&amp;url=https%3A%2F%2Fs3.amazonaws.com%2Fevents.tnw%2Fhardfork-2018%2Fuploads%2Fvisuals%2Fgoogle_2021-10-11-132455_twwv.jpeg&amp;signature=09b09cdc05df2515fd17194b87190d51)
}

.link-five {
  grid-column: 5/9;
  grid-row: 3/span 3;
  background-image: url(https://img-cdn.tnwcdn.com/image?fit=600%2C300&amp;url=https%3A%2F%2Fs3.amazonaws.com%2Fevents.tnw%2Fhardfork-2018%2Fuploads%2Fvisuals%2Fgoogle_2021-10-11-132455_twwv.jpeg&amp;signature=09b09cdc05df2515fd17194b87190d51)
}

.conf-link {
  display: none;
}

@media (max-width:1024px) {
  .logo {
    height: 108px;
    width: 447px;
  }

  .navbar {
    height: 56px;
    width: 100%;
  }

  .error-div {
    display: none;
  }

  .top-band {
    height: 151px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .main-content {
    padding-top: 32px;
    height: 1039px;
    width: 100%;
  }

  .motto {
    height: 27px;
    width: 100%;
  }

  .link-grid {
    grid-gap: .5rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,192px);
    padding-left: 0;
    padding-right: 0;
    margin-left: 64px;
    margin-right: 64px;
  }

  .link-one {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
  }
  
  .link-two {
    grid-column: 1;
    grid-row: 3;
  }
  
  .link-three {
    grid-column: 2;
    grid-row: 3;
  }
  
  .link-four {
    grid-column: 1;
    grid-row: 4;
  }
  
  .link-five {
    grid-column: 2;
    grid-row: 4;
  }

  .pop-articles {
    height: 534px;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: purple;
  }
}

@media (max-width:768px) {
  .logo {
    height: 84px;
    width: 320px;
  }

  .link-grid {
    display: flex;
    overflow: auto;
    height: 630px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .conf-link {
    display: block;
    height: 180px;
    width: 100%;
    background-color: aqua;
  }
}

@media (max-width:425px) {
  .logo {
    height: 45px;
    width: 188px;
  }

  .motto {
    height: 27px;
    width: 377px;
  }


}